body {
    font-size: 12pt;
    font-family: "Courier Screenplay", monospace;
    font-weight: lighter;
    padding-left: 1.5in;
    padding-right: 1.5in;
    line-height: 1.1;
}

#write {
    overflow-x: auto;
    max-width: 6in;
}

/* Slugline / scene header */
h1, h2, h3 {
    font-size: 100%;
    text-transform: uppercase;
}

/* This is the dialog actor names */
h2 {
    margin-left: 2.0in;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 0;
}

/* Dialogue */
h2 + blockquote, h2 + p + blockquote {
    margin-left: 1.0in;
    max-width: 3in;
    margin-top: 0;
    margin-bottom: 2em;
}

blockquote, p { margin-top: 0; }

/* Parantheticals */
h2 + p {
    text-transform: lowercase;
    margin-left: 2.0in;
    margin-top: 0;
}

/* Transition */
h3 {
    text-align: right;
    font-weight: normal;
}

pre {
    min-height: 1rem;
    padding: .5rem 1rem;
    background-color: #f8f8f8;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: inherit;
    
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    margin-top: 4px;
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid #333;
    margin: 2em 0;
    page-break-after: always;
    break-after: always;
}

.task-list-item {
    list-style-type: none;
}

.task-list-item-checkbox {
    margin-left: -1.8em;
    margin-right: 8px;
}

@media print {
    html {
        background: transparent !important;
        padding: 0;
    }

    @page {
        size: A4 portrait;
        margin-top: 1.5in;
        margin-bottom: 1.5in;
    }
}
